body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    background-image: url('https://images.unsplash.com/photo-1649424219286-56af1d8ee0cb?q=80&w=1816&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
  }
  
  .header {
    background: #c6e8f6;
    padding: 25px;
  }
  
  .header input{
    padding: 5px 15px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    margin-left: 350px;
  }
  
  .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  
  
  .header button{
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 5px;
    background: #707576;
    color: #fff;
    font-weight: bold;
  }
  
  .header button:hover{
    background: darkslategrey;
    color: black;
    font-weight: bold;
  }
  
  
  .header img{
    width: 45px;
    height: 45px;
    background: #707576;
    border-radius: 50%;
    float: right;
    justify-content: center;
    margin-right: 50px;
  }
  
  #sidebar-icon {
    content: "\25C2";
    margin-left: 310px;
    font-size: 25px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }

#login-name{
    margin-right: 150px;
    float: right;
    padding: auto;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 12px;
    top: 10;
    right: 0%;
    position: absolute;
}
  

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background: #1e444b;
    border-top: 5px solid #fff;
  }
  
  
  .logo {
    width: 300px;
    height: 200px;
    background: rgba(59, 112, 63, 0.938);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo img {
    width: 250px;
    display: block;
    margin: auto;
    background-color: rgba(59, 112, 63, 0.938);
  }
  
  .content {
    background: #707576;
    width: 300px;
    height: calc(100vh - 200px); /* Adjust height based on logo height */
    position: fixed;
    top: 200px; /* Adjust top position based on logo height */
    z-index: 1;
    border-top: 5px solid #fff;
    overflow-y: auto; /* Add scroll functionality if content overflows */
  }
  
  .content a {
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    border-bottom: 5px solid white;
    padding: 39px;
    justify-content: center;
  }
  
  /* Style the buttons */
  .home {
    border: none;
    outline: none;
    padding: 10px 16px;
    background: #666262;
    cursor: pointer;
  }
  
  /* Style the active class (and buttons on mouse-over) */
  .active, .home:hover {
    background: darkslategrey;
    color: black;
    font-weight: bold;
  }
  
  h1{
    display: flex;
    font-size: 60px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-left: 300px;
    text-align: center;
    margin-top: 40px;
    /* color: rgb(12, 94, 94); */
    color: #fff;
  }
  
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-left: 300px;
    margin-top: 100px;
  }
    
  .card {
    width: 200px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  #card1{
    background: #5a5952;
  }
  
  #card2{
    background: #86cc8c;
  }
  
  #card3{
    background: #a97951;
  }
  
  #card4{
    background: #055363;
  }
  
  .card h3 {
    font-size: 25px;
  }
  
  .card p {
    font-size: 50px;
    margin: 10px;
    font-weight: bold;
    background: #d9d1d1;
    padding: 10px 0px;
    text-decoration: none;
  }
  
  .card a{
    text-decoration: none;
  }
  
  .location-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 25px; */
    margin-left: 300px;
  }
  
  .purchase-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 25px; */
    margin-left: 300px;
  }
  
  table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 30px;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    font-size: 20px;
  }
  
  th {
    background-color: #c6e8f6;
    font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
    background-color: #666262;
  }
  
  @media (max-width: 600px) {
    table {
      font-size: 14px;
    }
  }
  
  .btn1 {
    background: darkgreen;
    color: #fff;
    font-size: 1em;
    padding: 10px 30px;
    border-radius: 10px;
    transition: background-color 0.25s;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin-top: -20px;
    font-weight: bold;
  }
  
  .marquee-container {
    overflow: hidden;
    margin-right: 100px;
    margin-left: 400px;
    behavior: inherit;
  }
  
  .marquee {
    animation: marquee 20s linear infinite;
    white-space: nowrap;
  }
  
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  .action a{
    margin-left: 10px;
  }
  
  .action .fa-trash-o{
    color: red;
  }
  
  .sidebar.show {
    transform: translateX(-100%);
  }

  @media only screen and (max-width: 576px) {
    #login-name {
      margin-left: 18px;
      position: absolute;
      left: 0%;
      top: 5%;
    }

    .logimg{
      display: none;
    }
  }

  .cards.full-width {
    margin-left: 0;
  }

  .mytitle.test{
    margin-left: 0;
  }

  @media only screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .cards.full-width {
      margin-left: 10px;
    }
  }