<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Edit Location Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <form id="form" action="/edit_location{{ location.id }}" method="POST">
            <h1>Edit Location</h1>
            <div class="input-control">
                <label for="name">Name:</label>
                <input id="name" name="location_name" type="text"   value="{{ location.location_name}}" required>
                <!-- <div class="error"></div> -->
            </div>
            <div class="input-control">
                <label for="offices">Number Of Offices:</label>
                <input id="offices" name="number_of_offices" type="number"  value="{{location.number_of_offices}}" required>
                <!-- <div class="error"></div> -->
            </div>
            <div class="input-control">
                <label for="Contact">HeadQuater Contact:</label>
                <input id="Contact" name="head_quater_contact" type="text" value="{{location.head_quater_contact}}" required>
                <!-- <div class="error"></div> -->
            </div>
            <center>
                <button type="submit" id="mybtn">Submit</button>
            </center>
        </form>
    </div>
</body>
</html>


