<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Equipment Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>

<body>
  <div class="container">
    <form id="form" action="/add-equipment" method="POST">
      <h1>Equipment Form</h1>
      <div class="input-control">
        <label for="type">Type:</label>
        <input id="type" name="type" type="text" required>
      </div>
      <div class="input-control">
        <label for="model_number">Device Name:</label>
        <input id="model_number" name="model_number" type="text" required>
      </div>
      <div class="input-control">
        <label for="serial_number">Serial No.:</label>
        <input id="serial_number" name="serial_number" type="number" required>
      </div>
      <div class="input-control">
        <label for="purchase_date">Purchase date:</label>
        <select name="purchase_date" id="purchase_date" required>
          <option value="null">--select date--</option>
          {% for purchase in purchases %}
          <option value="{{purchase.date}}">{{purchase.date}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="input-control">
        <label for="employee">Employee:</label>
        <select name="employee" id="employee" required>
          <option value="null">--select employee--</option>
          {% for employee in employees %}
          <option value="{{employee.employee_name}}">{{employee.employee_name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="input-control">
        <label for="location">Location:</label>
        <select name="location" id="location" required>
          <option value="null">--select location--</option>
          {% for location in locations %}
          <option value="{{location.location_name}}">{{location.location_name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="button-container">
        <button type="submit" id="mybtn">Submit</button>
      </div>
    </form>
  </div>
  <script src="script.js"></script>
</body>

</html>
