<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="container">
        <form id="Loginform" action="/login" method="POST">
            <div class="column2">
                <h1 class="mytext">Welcome to OIS</h1>
                <p class="login-as text-center">Login as:</p>
                <div class="user">
                    <input type="radio" id="user-login" name="loging" value="User" required>
                    <label for="user-login">User</label>
                </div>
                <div class="admin">
                    <input type="radio" id="admin-login" name="loging" value="Admin"required>
                    <label for="admin-login">Admin</label>
                </div>
            </div>
            <div class="column1">
                <h1 class="h1">Login Form</h1>
                <div class="input-control">
                    <label for="username">username:</label>
                    <input  id="username" name="username" placeholder="username" required>
                </div>
                <div class="input-control">
                    <label for="password">password:</label>
                    <input id="password" name="password" type="password" placeholder="password" required><br>
                </div>
                <button class="btn" type="submit">Login</button>
            </div>
        </form>          
    </div>
</body>
</html>
