<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Inventory System</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='main1.css') }}"
    />
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="header">
      <a href="#" id="sidebar-icon"></a>
      <span id="login-name">{{ name }}</span>
      <a href="#"><img src="{{ url_for('static', filename='user.png') }}" alt="" class="logimg" style="background: red;"></a>
    </div>

    <!--sidebar section-->
    <section class="sidebar">
        <div class="logo">
          <img src="{{ url_for('static', filename='bg4.png') }}" alt="logo">
        </div>
        <div class="content">
          <a href="/entry_point" class="home active"><i class="fas fa-home"></i>&nbsp; Home</a>
          <a href="/equipment" class="home"><i class="fas fa-cogs"></i>&nbsp;  Equipment</a>
          <a href="/location" class="home"><i class="fas fa-building"></i>&nbsp;  Office</a>
          <a href="/employee" class="home"><i class="fas fa-user"></i>&nbsp;  Employee</a>
          <a href="/purchase" class="home"><i class="fas fa-shopping-cart"></i> &nbsp; Purchases</a>
          <a href="/login" class="home"><i class="fas fa-sign-out-alt"></i>&nbsp;  Logout</a>
        </div>
    </section>
    
    <h1 class="mytitle" style="text-align: center; font-size: 50px; color: #0c5e5e; font-weight: bold; margin-top: 40px; text-shadow: 2px 2px 5px rgba(0,0,0,0.3); transition: transform 0.3s ease-in-out;">
      <center>Device Assets Dashboard</center>
    </h1>
    
    <div class="cards">
        <div class="card" id="card1">
          <h3><i class="fas fa-cogs">&nbsp; No. Of Equipments</i></h3>
          <hr><br>
          <a href="/equipment"><p>{{ equipment_count }}</p></a>
        </div>
        <div class="card" id="card3">
          <h3><i class="fas fa-building">&nbsp; No. Of Offices</i></h3>
          <hr><br> 
          <a href="/location"><p>{{ location_count }}</p></a>
        </div>
        <div class="card" id="card2">
          <h3><i class="fas fa-user">&nbsp; No. Of Employees</i></h3>
          <hr><br> 
          <a href="/employee"><p>{{ employee_count }}</p></a>
        </div>
        <div class="card" id="card4">
          <h3><i class="fas fa-shopping-cart">&nbsp; No. Of Purchases</i></h3>
          <hr><br> 
          <a href="/purchase"><p>{{ purchase_count }}</p></a>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          var sidebarIcon = document.getElementById("sidebar-icon");
          var sidebar = document.querySelector(".sidebar");
          var cards = document.querySelector(".cards");
          var mytitle = document.querySelector(".mytitle");

          sidebarIcon.addEventListener("click", function() {
              sidebar.classList.toggle("show");
              cards.classList.toggle("full-width");
              mytitle.classList.toggle("test");

              if (sidebar.classList.contains("show")) {
                sidebarIcon.innerHTML = "&#8801;"; // Change the icon to &#9666; when the sidebar is shown
              } else {
                sidebarIcon.innerHTML = "&#8801;"; // Change the icon to &#x2630; when the sidebar is hidden
              }
          });
        });
      </script>
</body>
</html>