<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Purchase Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
</body>
<div class="container">
    <form id="form" action="/add-purchase" method="POST">
        <h1>Purchase Form</h1>
        <div class="input-control">
            <label for="date">Date:</label>
            <input id="date" name="date" type="date" required>
            <!-- <div class="error"></div> -->
        </div>
        <div class="input-control">
            <label for="store">Store:</label>
            <input id="store" name="store" type="text" required>
            <!-- <div class="error"></div> -->
        </div>
        <div class="input-control">
            <label for="warranty-period">Warranty Period:</label>
            <input id="warranty-period"name="warranty-period" type="number" required>
            <!-- <div class="error"></div> -->
        </div>
        <center>
            <button type="submit" id="mybtn">Submit</button>
        </center>
    </form>
</div>
</form>
</html>
